@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Orbitron&display=swap");

h1 {
  font-family: "Cinzel", serif;
  text-align: center;
}
h2,
h3,
h4,
h5 {
  font-family: "Orbitron", sans-serif;
}

p,
a,
li {
  font-family: "Orbitron", sans-serif;
}
